name: MLflow CI Training

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.7

    - name: Check Python environment
      run: |
        python --version
        pip --version

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r Membangun_model/requirements.txt
        pip install mlflow==2.19.0

    - name: Set MLflow Tracking URL
      run: |
        export MLFLOW_TRACKING_URI=file://${{ github.workspace }}/MLProject/mlruns

    - name: Run MLflow Project (Training)
      working-directory: MLProject
      run: |
        mlflow run . --env-manager=conda

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    - name: Post set up Python 3.12.7
      run: echo "Post setup Python complete"

    - name: Post Checkout repository
      run: echo "Post checkout repository complete"

    - name: Complete Job
      run: echo "MLflow CI Training Completed"
